{% extends 'base.html.twig' %}

{% block title %}Quiz Result{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>{{ 'quiz_result_title'|trans({'%prompt%': quiz.prompt}) }}</h1>

        <p>{{ 'quiz_result_message'|trans({'%correct%': correctAnswers, '%total%': totalQuestions}) }}</p>
        <a href="{{ path('app_home') }}">
            <button>{{ 'return_home'|trans }}</button>
        </a>
    </div>
{% endblock %}
